html,body,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,input,table,caption,tbody,tfoot,thead,tr,th,td,textarea,button{margin:0;padding:0;border:0}ul,li{list-style-type:none}main,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;margin:0;padding:0;border:0}audio,canvas,video{display:inline-block}audio:not([controls]){display:none;height:0}[hidden]{display:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{resize:vertical;overflow:auto;vertical-align:top}input[type='checkbox'],input[type='radio']{-webkit-box-sizing:border-box;box-sizing:border-box;padding:0;*width:13px;*height:13px}input[type='search']{-webkit-appearance:textfield;-webkit-box-sizing:content-box;box-sizing:content-box}input[type='search']::-webkit-search-decoration,input[type='search']::-webkit-search-cancel-button{-webkit-appearance:none}input[type='text']:focus,input[type='email']:focus,input[type='password']:focus,textarea:focus,select:focus{outline:none}button,input[type='button'],input[type='reset'],input[type='submit']{cursor:pointer;-webkit-appearance:button}input[type='checkbox'],input[type='radio']{cursor:pointer}input:focus::-webkit-input-placeholder{color:transparent}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}html,button,input,select,textarea{font-family:sans-serif}img{border:0;-ms-interpolation-mode:bicubic;vertical-align:middle}svg:not(:root){overflow:hidden}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}a:link,a:visited,a:hover,a:active{outline:none}code,kbd,pre,samp{font-family:monospace,serif;_font-family:'courier new',monospace;font-size:1em}.group:before,.group:after{content:"";display:table}.group:after{clear:both}.group{clear:both;*zoom:1}.is-hidden{display:none}.sectioningHeader{display:none}.ancientBrowser{font:normal 14px/20px arial,sans-serif;color:#222;background-color:#ffd488;padding:10px 50px}.ancientBrowser a{text-decoration:underline}.warningPage{width:400px;margin:50px auto;text-align:center}.border-box{-webkit-box-sizing:border-box;-ms-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box}html{font-size:62.5%}

@font-face{font-family:'borden';
  src:url("../fonts/4ea61b9a-e22e-4486-9f7d-c054fb1587af.eot#iefix");
  src:url("../fonts/4ea61b9a-e22e-4486-9f7d-c054fb1587af.eot#iefix") format("eot"),url("../fonts/b62fb30a-2e3c-4d9b-8bd4-4a2b1dd743a6.woff2") format("woff2"),url("../fonts/bb7f0629-f93c-4fe1-8d8b-9d2fe0ef027c.woff") format("woff"),url("../fonts/9742f3dd-c45d-4810-9b5d-360d2ae23878.ttf") format("truetype");font-weight:normal;font-style:normal}

@font-face{font-family:'borden';
  src:url("../fonts/0e646a24-d030-4b7a-bcee-32ceb78c955a.eot#iefix");
  src:url("../fonts/0e646a24-d030-4b7a-bcee-32ceb78c955a.eot#iefix") format("eot"),url("../fonts/8f49e6cf-920d-4a38-a41c-d5ce467a0d15.woff2") format("woff2"),url("../fonts/79ead9e2-134b-4b85-a603-0d3a7cf37981.woff") format("woff"),url("../fonts/788b9636-91d6-4127-843e-541dd920c685.ttf") format("truetype");font-weight:300;font-style:normal}

@font-face{font-family:'din';
  src:url("../fonts/c76b0b1f-0a93-4794-94c9-3da41b330e4f.eot#iefix");
  src:url("../fonts/c76b0b1f-0a93-4794-94c9-3da41b330e4f.eot#iefix") format("eot"),url("../fonts/f318871a-e66b-4af4-8364-f2d50d0cc56d.woff2") format("woff2"),url("../fonts/bff60bf7-5c7e-482e-a1c2-0ec59ff766d3.woff") format("woff"),url("../fonts/b79ebe24-e900-4672-9e3e-4b209e730c71.ttf") format("truetype");font-weight:normal;font-style:normal}

@font-face{font-family:'din';
  src:url("../fonts/73d24d30-c523-432b-8e73-f6657117cf5d.eot#iefix");
  src:url("../fonts/73d24d30-c523-432b-8e73-f6657117cf5d.eot#iefix") format("eot"),url("../fonts/12eb26f5-3316-45d7-9b54-567571453f04.woff2") format("woff2"),url("../fonts/d3396d2b-5429-40cd-999c-0de93d207899.woff") format("woff"),url("../fonts/b53bbe2b-7a41-42e6-88db-3a29039376af.ttf") format("truetype");font-weight:bold;font-style:normal}

@font-face{font-family:'din';
  src:url("../fonts/2c74c1dc-2db9-4b4f-a63f-c528f45c3e84.eot#iefix");
  src:url("../fonts/2c74c1dc-2db9-4b4f-a63f-c528f45c3e84.eot#iefix") format("eot"),url("../fonts/fd83cfd3-3070-488b-8547-96e9d878e6be.woff2") format("woff2"),url("../fonts/b686af60-8797-46f2-8668-fe8b4f517273.woff") format("woff"),url("../fonts/75b1943c-977d-4325-9d5c-3adc9cba3004.ttf") format("truetype");font-weight:900;font-style:normal}
    
body{background-color:#e9e9ea;font:normal 100% arial,sans-serif;font-size:16px;font-size:1.6rem;font-family:din,arial,sans-serif;color:#040404;line-height:1.3;text-align:center}@media only screen and (min-width:600px){body{font-size:18px;font-size:1.8rem}}@media only screen and (min-width:970px){body{font-size:20px;font-size:2rem;text-align:left}}a{text-decoration:none}a:hover{text-decoration:underline}.layout{width:100%;max-width:1080px;margin:0 auto;padding:0 30px;-webkit-box-sizing:border-box;box-sizing:border-box}main{overflow:hidden;min-height:200px}p{margin-bottom:1em}/*!
	=================================================================
	@section: Header
	=================================================================
*/.pageHeader{padding-top:20px}@media only screen and (min-width:1180px){.pageHeader{padding-top:40px}}.logo{width:227px;height:174px;display:block;margin:0 auto}.logo a{display:block;width:100%;height:100%;background:url('../fonts/krowarzywa-logo.svg') 0 0 no-repeat;text-indent:-9999px;background-position:top center}@media only screen and (min-width:768px) and (max-width:969px){.logo{width:454px;height:344px;margin-top:20px;margin-bottom:30px}}#navTrigger{display:block;width:44px;height:44px;text-indent:-9999px;background:url('../images/ico-nav.png') 0 0 no-repeat;margin:20px auto;-webkit-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg);-webkit-transition:-webkit-transform .25s;transition:transform .25s}#navTrigger.expanded{-webkit-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg);-webkit-transition:-webkit-transform .25s;transition:transform .25s}@media only screen and (min-width:768px) and (max-width:969px){#navTrigger{width:55px;height:55px;background:url('../images/ico-nav2.png') 0 0 no-repeat;margin:58px auto}}@media only screen and (min-width:970px){#navTrigger{display:none}}.pageNav{border-top:2px solid #473532;padding-bottom:30px}.pageNav ul{display:none}.pageNav li{display:block;text-align:center}.pageNav li:hover a{color:#3e5a43}.pageNav li.current-menu-item a{color:#3e5a43;font-weight:bold}.pageNav li:last-child{margin-bottom:15px}.pageNav a{font-family:borden,arial,sans-serif;color:#000;text-transform:uppercase;text-decoration:none;font-size:30px;font-size:3rem;line-height:1.2;padding:4px 0;display:block}@media only screen and (min-width:768px) and (max-width:969px){.pageNav li{margin:10px 0}.pageNav li:last-child{margin-bottom:30px}.pageNav a{font-size:58px}}@media only screen and (min-width:970px){.pageNav{padding:55px 0 16px;border-bottom:2px solid #473532;border-top:none;text-align:center}.pageNav>div{display:inline-block;vertical-align:top}.pageNav ul{display:block !important;text-align:center}.pageNav li{display:inline-block;vertical-align:top;margin:0 12px}.pageNav li:last-child{margin-bottom:0}.pageNav a{padding:0;line-height:36px}}#menu-social li{display:inline-block;width:28px;height:27px;vertical-align:top;margin:0 15px}#menu-social a{display:inline-block;background:transparent url('../images/gui-nav.png') 0 0 no-repeat;background-size:134px auto;text-indent:-9999px;width:100%;height:100%;padding:0}#menu-social .ico-fb a{background-position:0 0}#menu-social .ico-fb a:hover,#menu-social .ico-fb a:focus,#menu-social .ico-fb a:active{background-position:0 -28px}#menu-social .ico-ig a{background-position:-40px 0}#menu-social .ico-ig a:hover,#menu-social .ico-ig a:focus,#menu-social .ico-ig a:active{background-position:-40px -28px}#menu-social .lang-item a{background-position:-80px 0;position:relative}#menu-social .lang-item a:hover,#menu-social .lang-item a:focus,#menu-social .lang-item a:active{background-position:-80px -28px;color:#3e5a43}#menu-social .lang-item a::before{display:block;font-size:20px;line-height:1;position:absolute;top:50%;left:0;width:100%;text-indent:0;font-weight:bold;text-align:center;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);margin-top:-1px}#menu-social .lang-item a[hreflang="en-US"]::before{content:'EN'}#menu-social .lang-item a[hreflang="pl-PL"]::before{content:'PL'}@media only screen and (min-width:768px) and (max-width:969px){#menu-social li{width:51px;height:50px;margin:0 25px}#menu-social a{background-size:244px auto}#menu-social .ico-fb a{background-position:0 0}#menu-social .ico-fb a:hover,#menu-social .ico-fb a:focus,#menu-social .ico-fb a:active{background-position:0 -51px}#menu-social .ico-ig a{background-position:-72px 0}#menu-social .ico-ig a:hover,#menu-social .ico-ig a:focus,#menu-social .ico-ig a:active{background-position:-72px -51px}#menu-social .lang-item a{background-position:-146px 0}#menu-social .lang-item a:hover,#menu-social .lang-item a:focus,#menu-social .lang-item a:active{background-position:-146px -51px}#menu-social .lang-item a::before{display:block;font-size:32px;line-height:1;position:absolute;top:50%;left:0;width:100%;text-indent:0;font-weight:bold;text-align:center;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);margin-top:-1px}}@media only screen and (min-width:970px){#menu-social{position:relative;margin-top:5px;padding-left:17px}#menu-social li{margin:0 8px}#menu-social::before{content:'';display:block;width:2px;position:absolute;left:0;top:10%;bottom:5%;background-color:#000}}.pageFooter{background-color:#758449;color:#232323;position:relative;z-index:20}.pageFooter .layout{position:relative}.pageFooter .layout:before{content:url('../images/logo-footer.png');display:block;width:94px;height:135px;margin-top:-42px;overflow:hidden;float:left;margin-right:20px}.pageFooter .footerContent{padding-left:100px;padding-top:10px}.pageFooter .copy{font-size:14px;font-size:1.4rem;font-weight:900;margin-bottom:10px}.pageFooter small{font-size:14px;font-size:1.4rem;display:block;margin-bottom:10px;margin-top:5px}.pageFooter small span{display:block}.pageFooter small em{display:none}.pageFooter small a{font-weight:900;color:#232323}@media only screen and (min-width:600px){.pageFooter .layout:before{height:120px}.pageFooter .copy{float:left}.pageFooter small{float:right;text-align:right;margin:0}}@media only screen and (min-width:970px){.pageFooter .layout:before{height:95px}.pageFooter .footerContent{padding-top:18px}.pageFooter small span,.pageFooter small em{display:inline-block;vertical-align:top}.pageFooter small em{margin:0 10px}}@media only screen and (min-width:1180px){.pageFooter .layout:before{margin-left:-45px}}.bgc1{background-color:#ffabab}.bgc1.skewed-bottom:after,.bgc1.skewed-top:after,.bgc1.skewed-bottom:before,.bgc1.skewed-top:before{background-color:#ffabab}.bgc1 .sectionHeader{color:#fff}.bgc2{background-color:#dfdcdc}.bgc2.skewed-bottom:after,.bgc2.skewed-top:after,.bgc2.skewed-bottom:before,.bgc2.skewed-top:before{background-color:#dfdcdc}.bgc2 .sectionHeader{color:#3c4536}.bgc3{background-color:#b0c2b6;color:#fff}.bgc3.skewed-bottom:after,.bgc3.skewed-top:after,.bgc3.skewed-bottom:before,.bgc3.skewed-top:before{background-color:#b0c2b6}.bgc3 .sectionHeader{color:#fff}.bgc4{background-color:#f4f6b1}.bgc4.skewed-bottom:after,.bgc4.skewed-top:after,.bgc4.skewed-bottom:before,.bgc4.skewed-top:before{background-color:#f4f6b1}.bgc4 .sectionHeader{color:#3c4536}.cols{margin-bottom:3em;line-height:1.3}.skewed-bottom .cols{margin-bottom:0}.cols p,.cols ul,.cols ol{margin-bottom:1.3em}@media only screen and (min-width:970px){.cols .col{width:47.5%;float:left}.cols .col+.col{float:right}.cols.cols3 .col{float:left !important;width:32%;margin-left:2%}.cols.cols3 .col:first-child{margin-left:0}}.contentHeader{margin:40px 0 90px}.contentHeader h2{color:#3e5a43;font-size:74px;font-size:7.4rem;line-height:1;font-family:borden,arial,sans-serif;text-align:center;font-weight:300}@media only screen and (min-width:768px){.contentHeader h2{font-size:100px;font-size:10rem}}@media only screen and (min-width:970px){.contentHeader h2{font-size:120px;font-size:12rem}}@media only screen and (min-width:1180px){.contentHeader h2{font-size:160px;font-size:16rem}}.moreLink{font-weight:900;text-transform:uppercase;color:#3e5a43}.moreLink:hover,.moreLink:active,.moreLink:focus{color:#ffabab;text-decoration:none}.pictureSpace.pictureSpace1{width:100%;height:0;padding-bottom:70%;background:url('../images/Flatlay_09.20.jpg') center bottom no-repeat;background-size:cover}.pictureSpace.pictureSpace2{width:100%;height:0;padding-bottom:120%;background:url('../images/bg-burgery2.jpg') center bottom no-repeat;background-size:cover}.pictureSpace.pictureSpace3{width:100%;height:0;padding-top:60px;padding-bottom:110%;background:#fefefe url('../images/bg-burgery3.jpg') center bottom no-repeat;background-size:cover}.pictureSpace.pictureSpace4{width:100%;height:0;margin-top:10px;padding-bottom:110%;background:#fefefe url('../images/bg-burgery4.jpg') center bottom no-repeat;background-size:cover}.pictureSpace.pictureSpace5{position:relative;z-index:-2;width:100%;height:50vw;max-height:384px;margin-top:0;background:#3e5a43 url('../images/bg-franchise-.png') center bottom}@media only screen and (min-width:470px){.pictureSpace.pictureSpace2{padding-bottom:80%}.pictureSpace.pictureSpace3{padding-bottom:80%}.pictureSpace.pictureSpace4{padding-bottom:80%}}@media only screen and (min-width:600px){.pictureSpace.pictureSpace1{padding-bottom:70%}.pictureSpace.pictureSpace2{padding-bottom:41%}.pictureSpace.pictureSpace3{padding-bottom:45%}.pictureSpace.pictureSpace4{padding-bottom:40%}}@media only screen and (min-width:1180px){.pictureSpace.pictureSpace3{padding-bottom:40%}.pictureSpace.pictureSpace4{padding-bottom:38%}}@media only screen and (min-width:1400px){.pictureSpace.pictureSpace1{padding-bottom:70%}.pictureSpace.pictureSpace2{padding-bottom:38%}.pictureSpace.pictureSpace3{padding-bottom:40%}.pictureSpace.pictureSpace4{padding-bottom:38%}}.sectionHeader{font-size:52px;font-size:5.2rem;line-height:1.1;text-transform:uppercase;font-family:borden,arial,sans-serif;font-weight:300;margin-bottom:.15em}@media only screen and (min-width:768px){.sectionHeader{font-size:70px;font-size:7rem}}@media only screen and (min-width:1180px){.sectionHeader{font-size:90px;font-size:9rem}.intro .sectionHeader{font-size:80px;font-size:8rem}}.txt .layout{padding:0 25px}.txt .sectionHeader{text-align:center;margin-bottom:.5em}.doyouknow .sectionHeader{color:#000}.doyouknow img{float:right;margin-top:-20px}.doyouknow p{margin:10px 0;line-height:1.3}.doyouknow .moreLink{font-size:18px;font-size:1.8rem}.doyouknow .doyouknow-content li{display:block;margin:.67em 0 1em}.doyouknow .doyouknow-content li strong{font-size:70%;text-transform:uppercase}@media only screen and (min-width:360px){.doyouknow img{margin-top:0}}@media only screen and (min-width:600px){.doyouknow img{margin-top:-40px}}@media only screen and (min-width:970px){.doyouknow .sectionHeader{float:left;width:40%;-webkit-box-sizing:border-box;box-sizing:border-box;padding-left:60px}.doyouknow .doyouknow-content{float:right;width:60%}}@media only screen and (min-width:1180px){.doyouknow .sectionHeader{width:40%}.doyouknow .doyouknow-content{width:55%;-webkit-box-sizing:border-box;box-sizing:border-box;padding-right:80px}.doyouknow img{margin-right:-40px}}.info{background-color:#ffabab;position:relative}.info:before{content:' ';display:block;width:120%;height:140px;background-color:#ffabab;position:absolute;top:-70px;left:0;-webkit-transform:rotate(-4deg);-ms-transform:rotate(-4deg);transform:rotate(-4deg);z-index:1;margin:0 -10%}.info:after{content:' ';display:block;width:120%;height:140px;background-color:#ffabab;position:absolute;bottom:-70px;left:0;-webkit-transform:rotate(3deg);-ms-transform:rotate(3deg);transform:rotate(3deg);z-index:1;margin:0 -10%}.info .layout{position:relative;z-index:2}.info .moreLink{color:#fff}.info .moreLink:hover,.info .moreLink:active,.info .moreLink:focus{color:#f4f6b1}.infoboxes{text-align:center;position:relative;z-index:3;margin-top:-180px;margin-bottom:40px}.infoboxes article{display:inline-block;vertical-align:top;width:282px;height:282px;background-color:#fff;border-radius:141px;text-align:center;-webkit-box-sizing:border-box;box-sizing:border-box;padding:42px 15px 0;font-size:18px;font-size:1.8rem;line-height:22px;color:#343434;margin:20px 20px}.infoboxes img{display:block;margin:30px auto 10px}.infoboxes h3{font-size:18px;font-size:1.8rem;line-height:24px;color:#ffabab;font-weight:900;margin:5px 0 26px 0;text-transform:uppercase}.infoboxes p{margin-bottom:20px}.infoboxes .burgerOfTheWeek h1,.infoboxes .burgerOfTheWeek h2,.infoboxes .burgerOfTheWeek h4,.infoboxes .burgerOfTheWeek h5{font-family:borden,arial,sans-serif;font-size:50px;font-size:5rem;line-height:56px;font-weight:normal;display:block;margin:-8px 0 18px}.infoboxes .burgerOfTheWeek p{font-size:14px;font-size:1.4rem;line-height:18px}.intro{background:url('../images/burger1m.jpg') center top no-repeat;padding-top:450px;padding-bottom:200px;color:#2f2f2f}.intro p{color:#040404}@media only screen and (min-width:970px){.intro{background:url('../images/burger1.jpg') center top no-repeat;padding-top:115px;min-height:325px}.intro .sectionContent{padding-left:40%;padding-right:80px}}@media only screen and (min-width:1180px){.intro .sectionContent{padding-left:45%;padding-right:40px}}.page-franchise{font-size:8px}.page-franchise .page-title{color:#3e5a43;font-size:5.188em;line-height:.93;font-family:borden,arial,sans-serif;text-align:center;font-weight:400;margin-top:.349em;margin-bottom:.756em}.page-franchise .cols{margin-bottom:0}.page-franchise .col{text-align:left}.page-franchise .col a{color:inherit}.page-franchise img{max-width:100%;height:auto}.page-franchise .cows-skewed{display:block;height:100px;-webkit-transform:rotate(-3.3deg);-ms-transform:rotate(-3.3deg);transform:rotate(-3.3deg);position:relative;z-index:-1;top:10px;margin:0 -10%;background-color:#e9e9ea;-webkit-transform-origin:top right;-ms-transform-origin:top right;transform-origin:top right}.page-franchise .cows-skewed:before{content:' ';position:absolute;background-color:#e9e9ea;width:100%;height:101%;top:-99%;left:0}.page-franchise .cows-skewed .single-cow{display:inline-block;-webkit-transform:rotate(3.3deg);-ms-transform:rotate(3.3deg);transform:rotate(3.3deg);max-width:94px;margin-right:1%;width:24%;height:125px;margin-top:-21px;position:relative;float:left}.page-franchise .cows-skewed .single-cow .krowa{display:block;height:100%;width:100%;background-image:url(../images/logo-footer.png);background-repeat:no-repeat;background-position:center bottom;background-size:100% auto;-webkit-clip-path:polygon(0 0, 100% 0, 100% 95.4%, 0 100%);clip-path:polygon(0 0, 100% 0, 100% 95.4%, 0 100%)}.page-franchise .cows-skewed .single-cow .raciczki{position:absolute;left:20%;bottom:-18%;content:url(../images/raciczki.png);background-repeat:no-repeat;width:64%;background-size:100% auto}.page-franchise .main-content{position:relative}.page-franchise .main-content:after{content:' ';display:block;width:120%;height:100px;position:absolute;bottom:-50px;left:0;-webkit-transform:rotate(-3.3deg);-ms-transform:rotate(-3.3deg);transform:rotate(-3.3deg);z-index:-1;margin:0 -10%;padding:0 10%;background-color:#e9e9ea;-webkit-transform-origin:bottom right;-ms-transform-origin:bottom right;transform-origin:bottom right}.franchise-content{font-size:16px}@media only screen and (min-width:369px){.page-franchise .cows-skewed .single-cow .krowa{background-position:center top}}@media only screen and (min-width:450px){.page-franchise .cows-skewed .single-cow{margin-right:4%;float:none}.page-franchise .cows-skewed .single-cow:last-of-type{margin-right:0}}@media only screen and (min-width:530px){.page-franchise .cows-skewed{padding:0 10%}}@media only screen and (min-width:768px){.page-franchise{font-size:16px}}@media only screen and (min-width:970px){.page-franchise{padding-top:41px}.page-franchise .page-title{text-align:left;font-size:50px;margin-top:.349em;margin-bottom:.43em}.page-franchise .col{text-align:left}.page-franchise .col.col-1-3{width:42%}.page-franchise .col.col-2-3{width:58%}.page-franchise .col a{color:inherit}.page-franchise img{max-width:100%;height:auto}.single-cow{float:left}}.idea-about{background:url('../images/bg-idea.png') left bottom repeat-x;line-height:1.3}.idea-about .txt-about-container{padding-bottom:350px;padding-top:40px;background:url('../images/burger2m.jpg') center bottom no-repeat}@media only screen and (min-width:970px){.idea-about .txt-about-container{background:url('../images/burger2.jpg') center bottom no-repeat;padding-bottom:100px;padding-top:105px;min-height:220px}}@media only screen and (min-width:970px){.idea-about .txt-about-content{padding-left:49%;padding-right:50px}}.products-about{padding:40px 0 110px}.products-about .txt-about-content{background:url('../images/burger3.jpg') center bottom no-repeat;font-family:borden,arial,sans-serif;font-size:32px;font-size:3.2rem;padding-bottom:250px}.products-about .txt-about-content small{position:relative;display:inline-block;padding-left:12px}.products-about .txt-about-content small:before{content:'*';position:absolute;top:0;left:0}@media only screen and (min-width:768px){.products-about{padding:50px 0 110px}.products-about .txt-about-content{background-position:left center;padding-left:280px;padding-bottom:0;min-height:230px;font-size:40px;font-size:4rem;font-weight:300}}@media only screen and (min-width:1180px){.products-about{padding:60px 0 110px}.products-about .txt-about-content{font-size:60px;font-size:6rem;line-height:1;padding-left:350px;position:relative}.products-about .txt-about-content small{font-size:24px;font-size:2.4rem;float:right;font-weight:normal;display:block;position:absolute;right:0;bottom:-20px}}.txt-skewed{position:relative;z-index:10}.txt-skewed .sectionHeader{text-align:center}.txt-skewed .layout{position:relative;z-index:2}.txt-skewed.skewed-top{position:relative}.txt-skewed.skewed-top:before{content:' ';display:block;width:120%;height:140px;position:absolute;top:-70px;left:0;-webkit-transform:rotate(-4deg);-ms-transform:rotate(-4deg);transform:rotate(-4deg);z-index:1;margin:0 -10%}.txt-skewed.skewed-top.skewed-flip:before{-webkit-transform:rotate(3deg);-ms-transform:rotate(3deg);transform:rotate(3deg)}.txt-skewed.skewed-bottom{position:relative}.txt-skewed.skewed-bottom:after{content:' ';display:block;width:120%;height:140px;position:absolute;bottom:-70px;left:0;-webkit-transform:rotate(3deg);-ms-transform:rotate(3deg);transform:rotate(3deg);z-index:1;margin:0 -10%}.txt-skewed.skewed-bottom.skewed-flip:after{-webkit-transform:rotate(-2deg);-ms-transform:rotate(-2deg);transform:rotate(-2deg)}.place-menu-container,.place-menu-asterisk{max-width:830px;margin:0 auto}@media only screen and (min-width:768px){.place-menu-container,.place-menu-asterisk{margin:35px auto}}.place-menu-asterisk{padding-top:15px}.place-menu{background-color:#cae0d2;position:relative;color:#231f20;font-size:15px;font-size:1.5rem;font-family:din,arial,sans-serif;font-weight:bold}.place-menu .layout{background:#cae0d2 url('../images/bg-menu.png') center top no-repeat;min-height:640px;position:relative;z-index:2}.place-menu:before{content:' ';display:block;width:120%;height:100px;position:absolute;top:-50px;left:0;-webkit-transform:rotate(2deg);-ms-transform:rotate(2deg);transform:rotate(2deg);z-index:1;margin:0 -10%;background-color:#cae0d2}.place-menu:after{content:' ';display:block;width:120%;height:100px;position:absolute;bottom:-50px;left:0;-webkit-transform:rotate(-2deg);-ms-transform:rotate(-2deg);transform:rotate(-2deg);z-index:1;margin:0 -10%;background-color:#cae0d2}.place-menu h3{font-family:din,arial,sans-serif;font-size:26px;font-size:2.6rem;line-height:30px;margin-bottom:5px}.place-menu h3 small{display:inline-block;vertical-align:baseline;font-size:16px;font-size:1.6rem;line-height:20px}.place-menu h4{font-family:borden,arial,sans-serif;font-size:27px;font-size:2.7rem;line-height:1;font-weight:normal;margin-top:27px}.place-menu ol li{list-style-type:decimal;list-style-position:inside;margin-left:18px}@media only screen and (min-width:970px){.place-menu ol li{list-style-position:outside}}.place-menu-card{margin:28px 0;text-align:left}.place-menu-card li{margin-bottom:11px}.place-menu-card .ings{display:block;margin-top:2px}.place-menu-card .t{display:table;width:100%}.place-menu-card .t>div{display:table-cell;font-family:borden,arial,sans-serif;line-height:1;font-size:27px;font-size:2.7rem;font-weight:normal}.place-menu-card .t>div:first-child,.place-menu-card .t>div:last-child{width:10px;white-space:nowrap}.place-menu-card .t .dots{background:url('../images/ico-dots.png') left bottom repeat-x;width:100%}@media only screen and (min-width:768px){.place-menu-row section{width:47%;float:left}.place-menu-row section+section{float:right}}.place-menu-col{margin-bottom:30px}.place-menu-col:last-child{margin-bottom:0}@media only screen and (min-width:970px){.place-menu-col:first-child{float:left;width:62%}.place-menu-col:last-child{float:right;width:30%}}.contact .layout{text-align:center}.contact a{color:#040404}.contact .location{margin:0 0 30px 0}.contact .location:last-child{margin-bottom:0}.contact .location h2{font-size:40px;font-size:4rem;font-family:borden,arial,sans-serif;font-weight:300;margin-bottom:.5em;color:#3e5a43}@media only screen and (min-width:970px){.contact .location{margin:1.75em 0}}#map{width:100%;height:400px;background-color:#aaa}@media only screen and (min-width:768px){#map{height:450px}}@media only screen and (min-width:1180px){#map{height:650px}}.page-template-template-dostawa .txt-skewed{position:relative;z-index:10}.page-template-template-dostawa .txt-skewed.skewed-bottom{position:relative}.page-template-template-dostawa .txt-skewed.skewed-bottom:after{content:' ';display:block;width:120%;height:140px;position:absolute;bottom:-50px;left:0;-webkit-transform:rotate(-3deg);-ms-transform:rotate(-3deg);transform:rotate(-3deg);z-index:1;margin:0 -10%}.page-template-template-dostawa .txt-skewed.skewed-top{position:relative}.page-template-template-dostawa .txt-skewed.skewed-top:before{content:' ';display:none;position:absolute}.delivery{background-color:#e9e9ea;margin-top:240px;font-family:borden,sans-serif;text-align:center}.delivery .deliveryContent{margin-top:-200px;padding-bottom:150px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-justify-content:space-around;-ms-flex-pack:distribute;justify-content:space-around}.deliveryItem{text-align:center;margin:0 auto 50px;min-width:200px}.deliveryItem img{max-width:183px;height:auto;display:block;margin:0 auto}.deliveryItem h3{text-transform:uppercase;font-size:40px;line-height:50px;font-weight:normal;margin:5px 0 30px}.deliveryItem li{margin:15px 0 17px}.deliveryItem li a{text-transform:uppercase;font-size:30px;line-height:30px;text-decoration:none;color:#000;border-bottom:2px solid #000;display:inline-block;margin-bottom:1px}.deliveryItem li a:hover{border-bottom-width:3px;margin-bottom:0}@media only screen and (min-width:768px) and (max-width:969px){.deliveryItem img{max-width:281px}}@media screen and (min-width:970px){.deliveryItem{display:inline-block;vertical-align:top;margin:10px 70px}}.hdpi{background-image:url('../images/gui-ico%402x.png');background-size:240px 1300px}@media (-webkit-min-device-pixel-ratio:1.25),(min-resolution:120dpi){.logo a{background:url('../fonts/logo.svg') 0 0 no-repeat;background-size:227px 172px}}
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ 15.12.2017 ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
.laty-l {
	width: 80px;
    position: absolute;
    top: 30px;
	z-index: 100;
}
.laty-r {
	width: 80px;
    position: absolute;
	right: 30px;
    top: 30px;
	z-index: 100;
}
.layout img {
	z-index: 120;
}
@media only screen and (max-width:1300px) {
.laty-l {
	width: 80px;
    position: absolute;
    top: 30px;
	left: -20px;
}
.laty-r {
	width: 80px;
    position: absolute;
	right: 0px;
    top: 30px;
}
}



.place-menuuu {
    background-color: #e4e3d0;
    position: relative;
    color: #231f20;
    font-size: 15px;
    font-size: 1.5rem;
    font-family: din, arial, sans-serif;
    font-weight: bold
}
.place-menuuu .layout {
    background: #e4e3d0;
    min-height: 640px;
    position: relative;
    z-index: 2
}

.place-menuuu:before {
    content: ' ';
    display: block;
    width: 120%;
    height: 100px;
    position: absolute;
    top: -50px;
    left: 0;
    -webkit-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    transform: rotate(2deg);
    z-index: 1;
    margin: 0 -10%;
    background-color: #e4e3d0;
}

.place-menuuu:after {
    content: ' ';
    display: block;
    width: 120%;
    height: 100px;
    position: absolute;
    bottom: -50px;
    left: 0;
    -webkit-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    transform: rotate(-2deg);
    z-index: 1;
    margin: 0 -10%;
    background-color: #e4e3d0;
}
.place-menuuu-container {
    max-width: 885px;
    margin: 0 auto;
}
.dashed-bottom {
	background: url("../images/dots.png");
	background-repeat: repeat-x;
	background-position: left bottom;
}
.menuuu2 .dashed-bottom {
	
}
.dashed-bottom .section-menu {
	height: 170px;
	width: auto;
}
.place-menuuu-col1 {
	width: 275px;
	display: block;
	margin-left: 0px;
	margin-right: 0px;
	float: left;
	text-align: center;
}
.place-menuuu-col1 .dashed-bottom {
	
}
.place-menuuu-col2 {
	width: 223px;
	display: block;
	margin-left: 25px;
	margin-right: 30px;
	float: left;
	text-align: center;
}
.place-menuuu-col3 {
	width: 323px;
	display: block;
	margin-left: 0px;
	margin-right: 0px;
	float: left;
	text-align: center;
}
.menuuu2 .dashed-bottom {
	padding-bottom: 10px;
}
@media only screen and (max-width:1250px) {
.place-menuuu-col1, .place-menuuu-col2, .place-menuuu-col3 {
	width: 100%!important;
}
/*.place-menuuu-container {
	width: 250px;
}*/
.place-menuuu .layout {
	width: 350px;
}
.place-menuuu-col2 {
	margin: 0px;
}
.menuuu2 .dashed-bottom {
	padding-top: 20px;
}
.menuuu3 .col {
	height: 250px;
}
.menuuu4 .col {
	height: 250px;
}
}
@media only screen and (max-width:500px) {
.laty-l, .laty-r {
	display: none;
}
}

@media only screen and (max-width:460px) {
	.place-menuuu {
		width: 100%;
	}
	.place-menuuu .layout {
		width: 100%;
		padding: 0px;
	}
	.place-menuuu-container {
		width: 90%;
	}
}
/* Tabela */
.col-12 {
	width: 100%;
}

.page-table .page-title {
	text-align: center!important;
	font-size: 100px!important;
	font-family: borden,arial,sans-serif!important;
  color: #3e5a43;
  font-weight: 300;
  margin-top: 20px;
}
.page-table h2 {
	text-align: center!important;
	font-size: 33px!important;
	font-family: borden,arial,sans-serif!important;
  color: #3e5a43;
  font-weight: 400;
}
.page-table td {
	border: solid #3F5A44;
  border-width: 0 2px 2px 0;
}
.brd-z {
	border: 0!important;
}
.brd-top-z {
	border-top: 0!important;
}
.brd-bot-z {
	border-bottom: 0!important;
}
.brd-left-z {
	border-left: 0!important;
}
.brd-right-z {
	border-right: 0!important;
}
.page-table thead td {
	height: 106px;
}
.page-table table {
	font-size: 16px!important;
}
table td.crossed
{
   background-image: linear-gradient(to bottom right,  transparent calc(50% - 2px), #3F5A44, transparent calc(50% + 1px)); 
}
img.kebab {
	padding: 10px 0px;
	margin-left: -45px;
}
.page-table table {
border-collapse: separate;
  display: block;
width: 100% !important;
  overflow-y: hidden;
overflow-x: auto;
  z-index: 1000;
  position: relative;
}
.brd-top {
	border-top: 2px solid #3F5A44!important;
}
.brd-left {
	border-left: 2px solid #3F5A44!important;
}
.page-table td {
font-family: borden,arial,sans-serif;
  height: 27px;
}
.page-table tr > td:last-of-type {
    min-width: 140px;
}


.page-table ol li {
  list-style-type: decimal;
  text-align: center;
  color: #3e5a43;
}
.page-table ol li small {
    color: #484848;
    font-size: 17px;
}

.page-table hr {
	 border-top: 2px solid #3F5A44;
  margin: 8px auto;
}


.page-table section {
  background-repeat: no-repeat;
background-image: url('../images/tlo.png');
background-size: 100% 1487px;
  background-position: 0px 145px;
}
.page-table ol {
    text-align: center;
  	font-size: 21px;
    font-family: borden,arial,sans-serif;
    color: #3e5a43;
    font-weight: 400;
      list-style-position: inside;
  margin-bottom: 15px;
}
.page-table thead td {
  padding: 0px 10px;
  min-width: 35px;
}
.page-table .pre-footer {
	background-image: url("../images/burger-tlo-2.png");
background-size: auto 380px;
background-repeat: no-repeat;
	background-position: bottom;
  min-height: 380px;
  margin-top: -60px;
  margin-bottom: -16px;
}
.page-table .footer-content {
	max-width: 1100px;
  font-family: borden,arial,sans-serif;
  font-weight: 400;
  margin: auto;
  font-size: 16px;
  min-height: 540px;
}
.txt-3 {
    color: #3e5a43;
    font-weight: 300;
}
.txt-2 {
    font-family: borden,arial,sans-serif;
    color: #EA8175;
    font-weight: 400;
}
.txt-4 {
    font-family: borden,arial,sans-serif;
    color: black;
    font-weight: 300;
  	margin-bottom: 5px;
}
.footer-1 {
 margin-left: 400px; 
 padding-top: 65px;
}
.footer-box {
 margin-left: 400px; 
  margin-bottom: 15px;
}
.txt-5 {
    color: #fff;
    font-weight: 300;
}
.page-table section {
     position: relative;
}
.page-table table img {
    z-index: 150;
  	position: relative;
}
.page-table .laty-l {
 margin-top: 690px; 
}
.page-table .laty-r {
  margin-top: 165px;
    right: 90px;

}
@media only screen and (max-width:1100px) {
 .footer-box {
   margin-left: 0px;
  }
  .footer-3 {
  background-color: #EA8175;
  }
  .page-table .pre-footer {
    background-color: #E9E9EA;
    margin-top: 0px;
    background-image: none;
    min-height: auto;
  }
  .txt-5 {
  padding: 10px;
  }
  .footer-1 {
  padding-top: 0px;
  }
  }
.theme-inside-iframe > .logo {
  display: none!important;
}
#menu-social .ico-yt a{
background-position: 0px 0px;
background: url('../images/icon-yt.png');
display: inline-block;
background-size: auto auto;
background-size: 134px auto;
text-indent: -9999px;
width: 100%;
height: 100%;
padding: 0;    
  background-size: 28px;
}
#menu-social .ico-yt a:hover,#menu-social .ico-yt a:focus,#menu-social .ico-yt a:active {
  background-position: 0px -27px;
}

/* Ikona TT */
#menu-social .ico-tt a{
background-position: 0px 0px;
background: url('../images/twitter.png');
display: inline-block;
background-size: auto auto;
background-size: 134px auto;
text-indent: -9999px;
width: 100%;
height: 100%;
padding: 0;    
  background-size: 28px;
}
#menu-social .ico-tt a:hover,#menu-social .ico-tt a:focus,#menu-social .ico-tt a:active {
  background-position: 0px -27px;
}

.praca h1 {
  line-height: 1.1;
text-transform: uppercase;
font-family: borden,arial,sans-serif;
font-weight: 300;
font-size: 9rem;
color: #3e5a43;
  text-align: center;
  margin: 35px auto;
}
/*   */
.pictrueSpaceWork::before {
    content: ' ';
    display: block;
    width: 120%;
    height: 140px;
    position: absolute;
    top: -50px;
    left: 0;
    -webkit-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    z-index: 1;
    margin: 0 -10%;
  -webkit-transform: rotate(-2deg);
-ms-transform: rotate(-2deg);
transform: rotate(-2deg);
  background-color: #e9e9ea;
}

.pictrueSpaceWork {
  width: 100%;
height: auto;
  position: relative;
  margin-bottom: 0px;
}

.pictrueSpaceWork::after {
    content: ' ';
    display: block;
    width: 120%;
    height: 140px;
    position: absolute;
    bottom: -180px;
    left: 0;
    -webkit-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    z-index: 1;
    margin: 0 -10%;
  -webkit-transform: rotate(-2deg);
-ms-transform: rotate(-2deg);
transform: rotate(-2deg);
  background-color: #ffaaab;
}
.action{margin:0 0 30px 0;text-align:left;clear: both;}
.action:last-child{margin-bottom:0}
.action h2{font-size:40px;font-size:4rem;font-family:borden,arial,sans-serif;font-weight:300;margin-bottom:.5em;color:#3e5a43;text-align:left;}
.action-image {width: 300px;display: block;float: left;margin: 10px 30px;}
.action-image img {height: 300px;}
@media only screen and (max-width:850px){
  div.action-image {float: none; margin: auto;}
  div.action {margin-top: 80px;}
  .action-desc h2 {text-align: center;}
}